*{margin: 0;
    font-family: 'Fredoka One', cursive;
}
body{
    background-color: #e3e3e3;
    
}
/*nav bar elements coding*/
header{
    background-color: #ffffff;
    height: 100px;
    
}
nav{
 overflow: hidden;
}
nav ul {
 font-family: 'Fredoka One', cursive;
    display: flex;
    
} 
nav li{ 
    margin-top: 39px;
    list-style: none;
}
nav li a {
  color: black;
   font-size: 13px;
     font-style:normal;
    margin-left: 65px;
    text-decoration: none;
    
}
nav li a:hover{
    font-size: 15px;
}
img{
  width: 79px;
    height: 67px;
        margin-top: -25px;
        margin-left: 57px;

}
nav input {
    font-family: 'Fredoka One', cursive;
 position: relative;
    left: 130px;
    
}
/*search bar coding*/
nav input[type="text"]{
    border: none;
    background-color: white;
    background-image: url(Images/dx.png);
    background-repeat:   no-repeat ;
     background-position: center;
    background-size: cover;
     margin-left: 65px;
    margin-right: 26px;
    width: 15px;
    height: 15px;
    border: none;

}
nav input[type="text"]:hover{
    
    width: 20px;
    height: 20px;
    
}
nav input[type="text"]:focus{
    width: 150px;
    border: 2px solid   #25b225;
outline: none;    height: 20px;
  background-position:right;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding:  10px 10px;
 background-size: contain;
}
/*button  coding*/
nav input[type="submit"]{
    margin-top: -14px; 
    border: 2px solid white;
    background-color: #25b225;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    color: white;
}
nav input[type="submit"]:hover{
    width: 150px;
    height: 50px;
}
nav input[type="submit"]:focus{
outline: none;
    
}
/* sign up code*/
.con{ position: relative;
    top:100px;
    background-color: white;
    
background-image: url(2-523x400.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    height:400px;
    width: 1000px;
    margin: auto;
}
.con span{
    font-size: 30px;
    position: relative;
    bottom: 20px;
    top: 4px;
    left: 100px;
    text-align: center;
}
.con #ne{
    color: white;
    display: inline-block;
    position: relative;
    left: 548px;
    top: 33px;
    width: 217px;
}
.con a{
    width: 213px;
    text-decoration: none;
    position: relative;
    left: 644px;
   text-align: center;
    top: 65px;
    display: inline-block;
   padding: 9px 0 9px 0;
    margin: 8px;
    font-size: 15px;
}
/*sign up  part 2*/
.cont input{
    position: relative;
    bottom:164px;
    left: 100px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    margin-top: 20px;
}
.cont input:focus{
    
    outline:none; 
}
/*sign up part 3*/
.ne1{
    background-color: #3b5998;
    color: white;
    
}
.ne2{
    background-color:  #00acee;
    color: white;
}
.ne3{
    background-color: #db4a39;
    color: white;
}
/*sign up buuton */
#si{
        border: 2px solid #25b225;
    background-color: #25b225;
    border-radius: 8px;
    position: relative;
    bottom: 115px;
    left: 100px;
    color: white;
    padding: 7px 21px ;
}
#si:focus{
    outline: none;
}
/* sign up divider*/
#or{
    

  background-color: gray;
   
    position: relative;
    left: 445px;
    top: -43px;
    border-radius: 387px;
    padding: 10px;

  
}
/* sign up code end*/
.li{
    position: relative;
    top: 110px;
    left: 200px;
    text-decoration: none;
    font-size: 20px;
    color: #25b225;
}